body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #228B22;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #333;
  }
  
  .logo img {
    height: 40px;
    vertical-align: middle;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    color: yellow;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }

/* CSS Styles for the Full Portfolio Page */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #323232;
}


h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
}

main.portfolio-details {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
}

table.portfolio-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table.portfolio-table th, table.portfolio-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table.portfolio-table th {
  background-color: #f2f2f2;
  font-weight: 600;
}

td.positive-change {
  color: green;
}

td.negative-change {
  color: red;
}

a.view-overview {
  display: inline-block;
  background-color: #228B22;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}
